<%#
リクエストの確認画面の各項目に共通するUI

@params {title: string, mes: string}
%>
<%
let mes = content;

if (mes === '' || mes === null) mes = 'なし';
%> 
<div class="text-center">
  <p class="mb-0"><%= title %></p>
  <p style="font-size: 1.5rem;"><%= mes %></p>
</div>