<title><%= pageData.headTitle  %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="http://localhost:8080/css/style.css" />
<% for (var i = 0; i < pageData.cssData.length; i++){ %>
<link rel="stylesheet" href="<%= pageData.cssData[i] %>">
<% } %>