<%#
ナビゲーションバー
%>
<header class="tree-header" id="tree-header">
  <nav class="page-header">
    <ul class="main-nav">
      <li>
        <a href="/">
          <img class="tree-header-logo" src="/img/tree-logo-alpha.png">
        </a>
      </li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/campaign">Campaign</a></li>
      <li><a href="/request">Request</a></li>
    </ul>

    <div class="header-user-box">
      <% if (pageData.userData.isLogin) { %>
        <p style="margin-bottom: 0;"><%= pageData.userData.email %>さん</p>
        <div class="d-flex justify-content-center gap-4">
          <form method="post" action="/user/logout">
            <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
            <button type="submit" class="tree-button tree-button-fit tree-button-warning my-4 mx-auto" style="margin: 0!important;">
              <i class="bi bi-box-arrow-right"></i>
            </button>
          </form>
          <a href="/user/edit" class="tree-button tree-button-fit tree-button-info my-4 mx-auto" style="margin: 0!important;">
            <i class="bi bi-gear"></i>
          </a>
        </div>
      <% } else { %>
        <a href="/user/login" class="tree-button tree-button-fit tree-button-info my-4 mx-auto" style="margin: 0!important;">
          ログインする<i class="bi bi-box-arrow-in-right"></i>
        </a>
      <% } %>
    </div>

    <div class="header-search-box">
      <a onclick="viewSearchBox()">
        <i class="bi bi-search"></i>
      </a>
    </div>
  </nav>
</header>

<div class="search-view-box" id="search-view-box">
  <div class="close-button" onclick="hideSearchBox()">
    <i class="bi bi-x d-flex"></i>
  </div>

  <h3 class="search-title">Search</h3>

  <div class="search-box">
    <div class="search-label-list-box">
      <label for="normalSearch" class="search-label-item-box" id="amb">
        <p>あいまい検索</p>
      </label>

      <label for="strictSearch" class="search-label-item-box" id="abs">
        <p>げんみつ検索</p>
      </label>

      <label for="tagSearch" class="search-label-item-box" id="tag">
        <p>タグ検索</p>
      </label>
    </div>
    <div class="search-content-box" id="searchContentBox">
      <form method="get" action="/search" class="search-content-form" id="searchForm">
        <input type="radio" name="mode" value="none" id="normalSearch" hidden checked>
        <input type="radio" name="mode" value="strict" id="strictSearch" hidden>
        <input type="radio" name="mode" value="tag" id="tagSearch" hidden>
        <div class="message-box">
          <p id="contentMessage"></p>
        </div>

        <div class="search-form-box">
          <input type="text" class="search-input" placeholder="検索キーワードを入力" id="search-input" name="search">
          <button type="submit" class="search-submit-button">
            <i class="bi bi-search d-flex"></i>
          </button>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm-4 category-button-box">
              <input
                id="bookButton"
                type="radio"
                name="type"
                value="book"
                class="category-button-input"
                hidden
                checked
                onclick="changeSearchType('book')"
              >
              <label for="bookButton" class="w-100">
                <div class="category-button">
                  <p>本を検索</p>
                  <i class="bi bi-book"></i>
                </div>
              </label>
            </div>

            <div class="col-sm-4 category-button-box">
              <input
                id="authorButton"
                type="radio"
                name="type"
                value="author"
                class="category-button-input"
                hidden
                onclick="changeSearchType('author')"
              >
              <label for="authorButton" class="w-100">
                <div class="category-button">
                  <p>著者を検索</p>
                  <i class="bi bi-person"></i>
                </div>
              </label>
            </div>

            <div class="col-sm-4 category-button-box">
              <input
                id="publisherButton"
                type="radio"
                name="type"
                value="publisher"
                class="category-button-input"
                hidden
                onclick="changeSearchType('publisher')"
              >
              <label for="publisherButton" class="w-100">
                <div class="category-button">
                  <p>出版社を検索</p>
                  <i class="bi bi-building"></i>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="category-button-list-box">
        </div>
      </form>
    </div>
  </div>
</div>
