<div class="navbar-box px-3">
  <div class="navbar-title">
    <a href="<%= pageData.origin %>/">
      <img src="<%= pageData.origin %>/img/logo.png" class="logo" alt="logo">
    </a>
  </div>
  <div class="navbar-links">
    <p><a href="/">ホーム</a></p>
    <p><a href="/login">管理画面</a></p>
    <p class="search-button-text" id="search-button-text">検索</p>
  </div>
</div>

<!-- 検索時に表示 -->
<div class="search-box" id="search-box">
  <div class="close-button" id="close-button"><%- include('./../icons/x') %></div>
  <div class="text-center search-title-box">
    <h1 class="search-title">Search</h1>
    <%-include('./../icons/binocular')  %>
  </div>
  <div class="search-form-box">
    <form action="/search" method="get">
      <div class="form-group search-input-box">
        <input type="text" class="search-input" id="search-input" name="search" placeholder="本を検索" required>
      </div>
      <div class="form-check form-switch text-center" style="font-size: 1.4rem;">
        <input class="form-check-input" type="checkbox" name="strict" value="true" id="strictSearch" style="position: absolute;">
        <label class="form-check-label" for="strictSearch">厳密検索</label>
      </div>
    </form>
  </div>
</div>