<div class="navbar-box px-3">
  <div class="navbar-title">
    <h1><a href="/">HOTATE</a></h1>
  </div>
  <div class="navbar-links">
    <p><a href="/">ホーム</a></p>
    <p><a href="/login">管理画面</a></p>
  </div>
</div>