<%#
おすすめセクション一覧の表示
%>

<% pageData.anyData.recommendations = typeof pageData.anyData.recommendations === 'undefined' ? [] : pageData.anyData.recommendations%>
<% editMode = typeof editMode === 'undefined' ? false : editMode %>

<div class="recommendation-list-box">
  <% for (const section of pageData.anyData.recommendations) { %>
    <% if (section.recommendation.IsSolid) { %>
      <p class="recommendation-solid-text"><%- include('./../icons/pin-angle') %>固定済み</p>
    <% } %>
    <%- include('recommendationBox', {recommendation: section})  %>
  <% } %>
</div>