<%#
メッセージなどを表示するアラート
%>

<% if (pageData.status !== undefined) {%>
<div class="alert alert-<%= pageData.status.buttonType %> alert-dismissible fade show state-info-toast auto-fade" role="alert">
  <%= pageData.status.mes %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>