<div class="alert alert-<%= type %> alert-dismissible fade show state-info-toast" role="alert">
  <%= mes %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>