<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
  </head>
  <body>
    <header>
      <%- include('./../../../components/headerTitle', {mes: 'csvファイルを選択', logo: 'filetype-csv'}) %>
      <p class="common-header-sub-title">
        本の情報が登録されているcsvファイルを選択してください。<b>5000件</b>まで登録が可能です。
      </p>
    </header>
    <form action="/admin/csv/sendFile?_csrf=<%= pageData.csrfToken %>" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="formFile" class="form-label">CSVファイル</label>
        <input class="form-control" type="file" id="formFile" name="csv" accept=".csv">
      </div>
      <button type="submit" class="btn btn-primary">送信</button>
    </form>
    <%- include('./../../../components/inputJs') %>
  </body>
</html>