<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/csv/loading.css" />
  </head>
  <body>
    <header>
      <%- include('./../../../components/header-title', {mes: '登録中', logo: 'arrow-clockwise'}) %>
    </header>

    <div class="progress-main-box">
      <div class="progress-box">
        <div class="progress">
          <div class="progress-bar" id="progress-bar" style="width: 0%" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            0%
          </div>
        </div>

        <h4 id="progress-text">
          Now Loading...
        </h4>

        <a class="tree-button tree-button-success progress-button my-0 mx-auto" href="/" id="link-box">
          <i class="bi-door-closed me-2"></i>
          戻る
        </a>
      </div>
    </div>

    <script src="<%= pageData.origin %>/js/admin/csv/csvDownload.js"></script>
  </body>
</html>