<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
  </head>
  <body>
    <header class="text-center">
      <%- include('./../components/header-title', {mes: '404 NotFound', logo:'eye-slash'}) %>
    </header>
  
    <main>
      <h3 class="text-center">お探しのページは見つかりませんでした</h3>
    </main>

    <%- include('./../components/input-js') %>
    <script src="/js/about.js"></script>
  </body>
</html>