<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
  </head>
  <body>
    <%- include('./../components/navbar') %>
    <h1 class="text-center mt-3">ようこそ、HOTATEへ!</h1>
    <%- include('./../components/inputJs') %>
  </body>
</html>