<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/index.css" />
  </head>
  <body>
    <%- include('./../components/navbar') %>
    <div class="text-center">
      <img src="img/logo.png" class="hotate-logo my-3" alt="logo">
    </div>
    <h1 class="text-center mt-3">ようこそ、HOTATEへ!</h1>
    <%- include('./../components/inputJs') %>
  </body>
</html>