<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/index.css" />
  </head>
  <body>
    <%- include('./../components/navbar') %>
    <div class="home-search-box">
      <form action="/search" method="get">
        <div class="form-group search-input-main-box">
          <input type="text" class="search-input-main" id="search-input" name="search" placeholder="Search" required>
        </div>
      </form>
      <div class="detail-search-box mt-1">
        <a onclick="viewSearchBox()">
          <p>詳細設定</p>
        </a>
      </div>
    </div>
    <%- include('./../components/inputJs') %>
  </body>
</html>