<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
  </head>
  <body>
    <%- include('./../components/navbar') %>
    <h1 class="text-center">ログイン</h1>
    <form method="POST" action="/check" class="px-4">
      <div class="mb-3">
        <label for="input_id" class="form-label">ユーザ名</label>
        <input type="text" class="form-control" id="input_id" name="id" placeholder="ユーザ名" required>
      </div>
      <div class="mb-3">
        <label for="input_pw" class="form-label">パスワード</label>
        <input type="password" class="form-control" id="input_pw" name="pw" placeholder="パスワード" required>
      </div>
      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">ログイン</button>
      </div>
      <% if (pageData.anyData.loginStatus == 'miss') { %>
      <div class="mb-3 text-center">
        <p class="text-danger">ユーザ名かパスワードが間違っています</p>
      </div>
      <% } %>
      <% if (pageData.anyData.loginStatus == 'error') { %>
        <div class="mb-3 text-center">
          <p class="text-danger">ログイン中にエラーが発生しました</p>
        </div>
        <% } %>
    </form>
    <%- include('./../components/inputJs') %>
  </body>
</html>