<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" action="/auth/check">
      <input type="text" name="id" placeholder="username">
      <input type="password" name="pw" placeholder="password">
      <button type="submit">Login</button>
    </form>
  </body>
</html>