<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
  </head>
  <body>
    <header class="text-center">
      <h1>リクエスト</h1>
      <p>入荷してほしい本を入力してください。<br>入荷した際には図書室から連絡が届きます。</p>
    </header>

    <main>
      <form method="POST" action="/sendRequestBook" class="px-4">
        <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
        <div class="mb-3">
          <label for="bookName" class="form-label">書名</label>
          <input type="text" class="form-control" id="bookName" name="bookName" placeholder="例) 余命3000文字">
        </div>
        <div class="mb-3">
          <label for="authorName" class="form-label">著者名</label>
          <input type="text" class="form-control" id="authorName" name="authorName" placeholder="例) 村崎羯諦">
        </div>
        <div class="mb-3">
          <label for="publisherName" class="form-label">出版社名</label>
          <input type="text" class="form-control" id="publisherName" name="publisherName" placeholder="例) 小学館文庫">
        </div>
        <div class="mb-3">
          <label for="isbn" class="form-label">ISBN</label>
          <input type="text" class="form-control" id="isbn" name="isbn" placeholder="例) 9784094068498">
        </div>
        <div class="mb-3 form-floating">
          <textarea class="form-control" placeholder="書名が思い出せない場合などに入力してください" id="message" style="height: 100px" name="message"></textarea>
          <label for="message">本の内容・その他</label>
        </div>

        <div class="mb-3 row g-6 align-items-center">
          <div class="col-auto">
            <select class="form-select" name="department">
              <option value="テスト">テスト</option>
            </select>
          </div>
          <div class="col-auto">
            科
          </div>
          <div class="col-auto">
            <select class="form-select" name="schoolYear">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="col-auto">
            年
          </div>
          <div class="col-auto">
            <select class="form-select" name="class">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="col-auto">
            組
          </div>
        </div>

        <div class="mb-3">
          <label for="userName" class="form-label">名前(必須)</label>
          <input type="text" class="form-control" id="userName" name="userName" placeholder="例) 大淡路 不知火" required>
        </div>

        <div class="text-center">
          <a href="/" class="btn btn-outline-success">戻る</a>
          <button type="submit" class="btn btn-outline-primary">確認</button>
        </div>
      </form>
    </main>
    <%- include('./../components/stateToast', {pageData}) %>
    <%- include('./../components/inputJs') %>
  </body>
</html>