<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
  </head>
  <body>
    <header class="text-center">
      <h1>リクエストの送信が完了しました！</h1>
    </header>

    <main class="text-center">
      <h2>リクエストしていただきありがとうございます！</h2>
      <a href="/" class="btn btn-outline-primary">ホームへ</a>
    </main>
    <%- include('./../components/inputJs') %>
  </body>
</html>