.book-card-box {
  background: var(--main-color);
  padding: 10px;
  border: solid 2px #432;
  border-radius: 10px;
}

.book-card-box h3 {
  text-align: center;
  font-size: 2rem;
  border-bottom: solid 2px var(--font-color);
}
