<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/home.css" />
  </head>
  <body>
    <%- include('./../../components/navbar') %>
    <h1>管理者ホーム画面</h1>
    <a href="./csv/choice">CSVファイルを選択</a>
    <a href="./tags">タグ管理</a>
  </body>
  <%- include('./../../components/inputJs') %>
</html>